<div class="px-3">
<digi-doctor-card-profile [data]="doctorData"></digi-doctor-card-profile>

<!-- calendar -->
<digi-calendar></digi-calendar>
<!-- calendar -->

<!-- time slot -->
<span fs="16px" fw="reg" class="d-block mt-3">Select suitable time</span>
<digi-time-slot duration="Morning"></digi-time-slot>
<digi-time-slot duration="Afternoon"></digi-time-slot>
<!-- time slot -->

<!-- button -->
<digi-affix>
    <button nz-button digi-btn color="theme">
        Confirm Schedule
    </button>
</digi-affix>
<!-- button -->
</div>