// .header {
//   min-height: 56px;
// }

// .auth-header {
//   background: white;
//   .header();
// }

// .local-header {
//   background: #e8f2ed;
//   border-bottom: 3px solid #50a363;
//   .header();
// }
nz-page-header {
  background-color: #104b60 !important;
  min-height: 56px;
  padding: 8px 19px;
}

