<span fs="16px" fw="md" color="#12263C" class="d-block my-2">
    How would you like the order to be dropped off?
</span>
<label for="Hand" nz-row nzJustify="space-around" nzAlign="middle"
 class="mt-3">
    <div nz-col nzFlex="1" class="center-xy">
        <input type="radio" name="rdo" id="Hand" class="hidden"/>
    </div>
    <div  nz-col nzFlex="5">
        <span fs="14px" fw="md" color="#12263C">Hand it to me</span>
    </div>
</label>

<label for="Contact" nz-row nzJustify="space-around" nzAlign="middle" class="mt-2">
    <div nz-col nzFlex="1" class="center-xy">
        <input type="radio" name="rdo" id="Contact" class="hidden"/>
    </div>
    <div  nz-col nzFlex="5">
        <span fs="14px" fw="md" color="#12263C">Contact me</span>
    </div>
</label>

<label for="Leave" nz-row nzJustify="space-around" nzAlign="middle" class="mt-2">
    <div nz-col nzFlex="1" class="center-xy">
        <input type="radio" name="rdo" id="Leave" class="hidden"/>
    </div>
    <div  nz-col nzFlex="5">
        <span fs="14px" fw="md" color="#12263C">Leave it at my door</span>
    </div>
</label>

<span fs="16px" fw="md" color="#12263C" class="d-block mt-4 mb-2">
    Instructions
</span>

<span fs="13px" fw="reg" color="#9EAAB2">eg: call upon arrival, dropoff and rang bell</span>

<digi-affix>
    <button nz-button digi-btn color="theme" routerLink="../checkOut">
        Save
    </button>
</digi-affix>