<nz-spin  [nzIndicator]="indicatorTemplate" [nzSpinning]="isContentLoading">

<div class="pt-1 pb-5" style="background: #104B60;">
   <span class="d-block mb-5 px-4" *ngIf="doctor">
      <span fs="16px" fw="reg" class="d-block text-center my-3"
      color="white">Welcome to Dr {{doctor.doc_first_name}} {{doctor.doc_last_name}} clinic Center</span>
      <div class="px-3">
         <button nz-button digi-btn color="#2795A0" (click)="goToPage('/scanRx')">
            <img src="assets/icons/dashboard_icon/light-prescription.svg" alt="">&nbsp; &nbsp;
            <span fs="17px" color="white">Scan My Prescription</span>
         </button>
      </div>
   </span>
</div>

<div class="px-3" style="position: relative;top: -73px;">

   <!-- Book an Appointment -->
   <ng-container *ngIf="doctor && !todaysAppointment">
   <digi-dashboard-card  title="Like to consult Dr {{doctor.doc_first_name}} {{doctor.doc_last_name}}" description="Click on Book Appointment to schedule your appointment with the doctor hassle free" color="#A293FA" icon="appointment" iconWidth="30%">
      <div nz-row>
         <div nz-col nzXs="18">
            <button digi-button-inline nz-button color="#4D4CAE" 
              (click)="goToPage('../appointment/schedule')" >
               Book an Appointment
            </button>
         </div>
         <div nz-col nzXs="6">
         </div>
      </div>
   </digi-dashboard-card>
   <!-- Book an Appointment -->
   </ng-container>


   <!--  Appointment is scheduled:I’ve Arrived -->
   <ng-container *ngIf="todaysAppointment && !todaysAppointment.appointment_status && todaysAppointment.isCheckin === false &&  todaysAppointment.isTelimedicineAppointment === false">
   
      <digi-dashboard-card title="Your Appointment is scheduled with 
   Dr {{todaysAppointment.doc_first_name}} {{todaysAppointment.doc_last_name}} at {{todaysAppointment.startDateTime | date : 'HH:mm a'}}, {{todaysAppointment.startDateTime | date : 'd MMM'}}" description="Click on arrived and we will let the doctor know you have arrived"
         color="#FFEAD3">

       
         <div nz-row>
            <div nz-col nzXs="11" class="center-xy"  >
               <button digi-button-inline  nzBlock nz-button color="#2795A0" [nzLoading]="btnLoader" (click)="markasArrived(todaysAppointment)">
                  I’ve Arrived
               </button>
            </div>
            <div nz-col nzXs="1" class="center-xy"  >
               </div>
            <div nz-col nzXs="12" class="center-xy"  >
               <button digi-button-inline  nzBlock nz-button color="#FC8F1B"
                 (click)="changeAppt(todaysAppointment)">
                  Reschedule
               </button>
            </div>
         </div>

      </digi-dashboard-card>
      <!--  Appointment is scheduled:I’ve Arrived -->
   </ng-container>
   
   <ng-container *ngIf="todaysAppointment && !todaysAppointment.appointment_status &&  todaysAppointment.isTelimedicineAppointment === true">
   
      <!-- Appointment is scheduled:Start Consultation -->
      <digi-dashboard-card title="Your Appointment is scheduled with 
      Dr {{todaysAppointment.doc_first_name}} {{todaysAppointment.doc_last_name}} at {{todaysAppointment.startDateTime | date : 'HH:mm a'}}, {{todaysAppointment.startDateTime | date : 'd MMM'}}" description="Click on Start Consultation to start Video call and we will let the doctor know you have joined"
         color="#F5E0BA">
         <div nz-row>
            <div nz-col nzXs="12" class="center-xy">
               <button digi-button-inline nz-button color="#2795A0">
                  <i nz-icon nzType="video-camera" nzTheme="outline"></i> 
                   Start Consultation
               </button>
            </div>
            <div nz-col nzXs="12" class="center-xy">
               <button digi-button-inline nz-button color="#FC8F1B">
                  Reschedule Appt.
               </button>
            </div>
         </div>
      </digi-dashboard-card>
      </ng-container>
      <!-- Appointment is scheduled:Start Consultation -->
   
      <ng-container *ngIf="todaysAppointment && !todaysAppointment.appointment_status && todaysAppointment.isCheckin === true && !todaysAppointment.isTelimedicineAppointment">

      <!-- Thank You -->
      <digi-dashboard-card title="Dr {{doctor.doc_first_name}} {{doctor.doc_last_name}} will attend you shortly" description="Dear {{todaysAppointment.patient_name | titlecase}}, thank you for your patience
   please wait until your name is called out" color="#FFD2DD" icon="dr-icon" iconWidth="20%">
         <div nz-row>
            <div nz-col nzXs="18">
               <button nz-button nzShape="round">
                  Thank You
               </button>
            </div>
            <div nz-col nzXs="6">
            </div>
         </div>
      </digi-dashboard-card>
      <!-- Thank You -->
   </ng-container>

      <!-- View My Prescription -->
      <digi-dashboard-card  *ngIf="todaysAppointment && todaysAppointment.appointment_status || patientLastRxRecords && ( patientLastRxRecords.doctor_id || patientLastRxRecords.doctr_id) && !patientLastRxRecords.uploadedBy" title="Your prescription from {{doctor.doc_first_name}} {{doctor.doc_last_name}}
      is ready to view" description="Click below to view your prescription" color="#FFEAD3" icon="prescription"
            iconWidth="18%">
            <div nz-row>
               <div nz-col nzXs="18">
                  <button digi-button-inline nz-button color="#2795A0" (click)="previewRx(patientLastRxRecords)">
                     View My Prescription
                  </button>
               </div>
               <div nz-col nzXs="6">
               </div>
            </div>
         </digi-dashboard-card>
         <!-- View My Prescription -->

            <!-- Update My Health -->
   <digi-dashboard-card *ngIf="todaysAppointment && !todaysAppointment.appointment_status" title="How are you feeling today?" description="While you wait in line for your turn, let the 
   doctor know how are doing today" color="#F5E0BA" icon="hart" iconWidth="18%">
         <div nz-row>
            <div nz-col nzXs="18">
               <button digi-button-inline nz-button color="#FC8F1B"
               routerLink="../health-records">
                  Update My Health 
               </button>
            </div>
            <div nz-col nzXs="6">
            </div>
         </div>
      </digi-dashboard-card>
      <!-- Update My Health -->

          <!-- Health Manager -->
          <ng-container *ngIf="patientLastLabOrder || patientLastPharmaOrder"> 
   <digi-dashboard-card title="Health Assistant will always be there for you 24x7" [list]="
   ['Health manager will always be there for you', 'She will be helping you manage your healthcare hassel free',
   'Book <strong>follow</strong> up appointments',
   'She will assist you to organise prescribed medicines for you at your doorsteps at discounted price',
   'Assist you with booking diagnostics prescribed by the doctor at discounted price'
   ]" tag="Health Manager" color="#CBEBFF" icon="health-manager" iconWidth="18%">
         <div nz-row>
            <div nz-col nzXs="18">
               <button digi-button-inline nz-button color="#4E7CFF">
                  Request Call Back
               </button>
            </div>
            <div nz-col nzXs="6">
            </div>
         </div>
      </digi-dashboard-card>
   </ng-container>
      <!-- Health Manager -->

   <!-- Scan Rx Now -->
   <digi-dashboard-card *ngIf="!todaysAppointment || !patientLastRxRecords" title="Scan Your Prescription for" description="Now Enjoy the best in class diagnostics and 
pharmacy services at your doorsteps" color="#FFEAD3" icon="rxScan" iconWidth="20%">
      <div nz-row>
         <div nz-col nzXs="18">
            <button digi-button-inline nz-button color="#4E7CFF"
            (click)="goToPage('/scanRx')">
               Scan Rx Now
            </button>
         </div>
         <div nz-col nzXs="6">
         </div>
      </div>
   </digi-dashboard-card>
   <!-- Scan Rx Now -->

   <!-- Book Diagnostics Now -->
   <digi-dashboard-card title="Get Instant Diagnostic Reports" description="Your doctors will get your reports directly from
NABL accredited labs" color="#CBEBFF" icon="diagnostics" iconWidth="25%">
      <div nz-row>
         <div nz-col nzXs="18">
            <button digi-button-inline nz-button color="#4E7CFF">
               Book Diagnostics Now
            </button>
         </div>
         <div nz-col nzXs="6">
         </div>
      </div>
   </digi-dashboard-card>
   <!-- Book Diagnostics Now -->

   <digi-dashboard-card *ngIf="followUpAppt" title="Your follow up appointment"
   description="Your next follow up appointment with Dr {{followUpAppt.doc_first_name | titlecase}} {{followUpAppt.doc_last_name}} is on {{followUpAppt.startDateTime | date:'dd MMM,YYYY'}}" color="#FFD2DD"
   icon="follow-prescription" iconWidth="18%">
   <div nz-row>
      <div nz-col nzXs="12">
         <button digi-button-inline nz-button nzBlock color="#FC8F1B">
            Confirm Date
         </button>
      </div>
      <div nz-col nzXs="6">
      </div>
   </div>
</digi-dashboard-card>

   <!-- Connect to WahtsApp -->
   <digi-dashboard-card title="Connect with the doctor" description="Subscribe to doctors WhatsApp and connect 
with doctor when you need anytime" color="#9BDAA2" icon="whatsApp" iconWidth="30%">
      <div nz-row>
         <div nz-col nzXs="18">
            <button digi-button-inline nz-button color="#34917E" (click)="goToPage('whatsapp')">
               Connect to WhatsApp
            </button>
         </div>
         <div nz-col nzXs="6">
         </div>
      </div>
   </digi-dashboard-card>
   <!-- Connect to WahtsApp -->

   <!-- Check Doctor Profile -->
   <digi-dashboard-card title="Know more about your doctor"
      description="Get to know about your doctor and his practices a little more" color="#A293FA">
      <div nz-row nzAlign="middle">
         <div nz-col nzXs="16">
            <button digi-button-inline nz-button color="#4D4CAE" 
            (click)="goToPage('/doctor/vijay_ijardar')">
               Check Doctor Profile
            </button>
         </div>
         <div nz-col nzXs="8" class="center-xy">
            <img src="https://clinicalnotebook.com/wp-content/uploads/2015/04/Doctor-Profile-Pic-Example.png"
               class="profile-pic" alt="">
         </div>
      </div>
   </digi-dashboard-card>
   <!-- Check Doctor Profile -->





  



   <!-- Now pay digital -->
   <!-- <digi-dashboard-card title="Now pay digital"
      description="You can make your payment of Rs 2560 online using our secured online payment gateway"
      color="#F5E27B">
      <div nz-row>
         <div nz-col nzXs="12">
            <button digi-button-inline nz-button color="#FC8F1B">
               Pay Rs 2560 Now
            </button>
         </div>
         <div nz-col nzXs="12" class="center-y-end-x">
            <img src="assets/icons/dashboard_icon/pay-card.svg" class="img-res" alt="">
         </div>
      </div>
   </digi-dashboard-card> -->
   <!-- Now pay digital -->

   <!-- Book Diagnostics Now -->
   <!-- <digi-dashboard-card title="Get Instant Diagnostic Reports"
      description="Your doctors will get your reports directly from NABL accredited labs" color="#CBEBFF">
      <div nz-row>
         <div nz-col nzXs="18">
            <button digi-button-inline nz-button color="#4E7CFF">
               Book Diagnostics Now
            </button>
         </div>
         <div nz-col nzXs="6">
         </div>
      </div>
   </digi-dashboard-card> -->
   <!-- Book Diagnostics Now -->

   <!-- Scan QR code -->
   <ng-container *ngIf="doctor"> 
   
   <digi-dashboard-card title="Dr {{doctor.doc_first_name}} {{doctor.doc_last_name}} Health Assistant will 
always be there for you 24x7"
      description="Connect with your doctor for health updates Get 100% genuine medicine delivered at your doorstep
Book Diagnostics services from best in class NABL accredited labs Access your health records anytime anywhere Book follow up appointments"
      color="#CBEBFF" color="#CBEBFF" icon="qrCode" iconWidth="15%">
      <div nz-row>
         <div nz-col nzXs="20">
            <span fs="17px" fw="reg">Scan QR code after your visit</span>
         </div>
         <div nz-col nzXs="4">

         </div>
      </div>
   </digi-dashboard-card>
</ng-container>
   <!-- Scan QR code -->

   <!-- scroll Health Partners -->

   <div nz-row class="p-2" style="background: white;border-radius: 12px;" *ngIf="doctorPartners.length > 0">
      <div nz-col nzXs="24">
         <span fs="17px" fw="reg" class="d-block">
            Dr {{doctor.doc_first_name}} {{doctor.doc_last_name}} Health Partners
         </span>
      </div>
      <div nz-col nzXs="24">
         <span fs="14px" fw="reg" class="d-block mt-2 mb-3">
            e-Health center is connected to India’s largest healthcare networks
         </span>
      </div>
      <div nz-col nzXs="24">
         <!--  -->
         <owl-carousel-o [options]="OwlConfig">
            <ng-container *ngFor="let partner of doctorPartners">
               <ng-template carouselSlide>

                  <div nz-row nzAlign="middle" nzJustify="center" class="diagnostics-card m-1">
                     <div nz-col nzXs="17">
                        <img [src]="partner.partnerLogoUrl" width="160" alt="">
                     </div>
                     <div nz-col nzXs="24" class="text-center">
                        <span fs="13px" fw="reg" class="d-block mt-3">
                           {{partner.partnerName}}</span>
                        <span fs="13px" fw="reg" class="d-block" color="#2795A0">upto 14% off</span>
                     </div>
                  </div>

               </ng-template>
            </ng-container>
         </owl-carousel-o>
         <!--  -->
      </div>
   </div>
   <!-- scroll Health Partners -->

</div>

</nz-spin>

<ng-template #indicatorTemplate ><i style="margin-top:50%" fs="25px" nz-icon nzType="loading"></i></ng-template>
