<!--  -->
<div nz-row class="btn-nav" nzAlign="middle">
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn dig-bg">Prescription</button>
    </div>
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn dig-bg-active">Lab Report</button>
    </div>
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn dig-bg-active">Medicine</button>
    </div>
</div>
<!--  -->

<!-- Record list -->
<ng-container *ngFor="let item of [1,2,3,4,5,6]">
    <div class="record-list px-2" nz-row style="min-height: 78px;" nzAlign="middle">
        <div nz-col nzFlex="5">
            <span>
                <span fs="15px" fw="md" class="d-block">hend arthropathy</span>
                <span fs="12px" fw="reg" color="#b1afaf" class="d-block">3/8/2021</span>
            </span>
        </div>
        <div nz-col nzFlex="auto" class="center-y-end-x">
            <span>
                <button class="digi-sm-btn sky-bg-ligth px-2" nz-button
                [nzSize]="'small'">View</button>&nbsp;&nbsp;
                <button class="digi-sm-btn pink-bg-ligth px-2" nz-button
                [nzSize]="'small'">Oreder</button>
            </span>
        </div>
    </div>
</ng-container>
<!-- Record list -->

<!-- digi-affix use for fixed item -->
<digi-affix>
    <div nz-row class="action-group">
        <div nz-col nzSpan="12" class="center-y-start-x">
            <span>
                <img src="assets/icons/plus.svg" class="d-block" alt="">
                <span fs="12px" fw="reg" color="#12263C">Add new report</span>
            </span>
        </div>
        <div nz-col nzSpan="12" class="center-y-end-x">
            <span>
                <img src="assets/icons/sort.svg" class="d-block" alt="">
                <span fs="12px" fw="reg" color="#12263C">Sort</span>
            </span>
        </div>
    </div>
</digi-affix>
<!-- digi-affix use for fixed item -->