<div class="px-3">
<!--  -->
<div nz-row class="btn-nav" nzAlign="middle">
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn" (click)="viewRecords('Rx')" [ngClass]="activeStep == 'Rx' ? 'dig-bg' : 'dig-bg-active'">Prescription</button>
    </div>
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn" (click)="viewRecords('Lab')" [ngClass]="activeStep == 'Lab' ? 'dig-bg' : 'dig-bg-active'">Lab Report</button>
    </div>
    <div nz-col nzSpan="8" class="text-center">
        <button nz-button class="digi-sm-btn" (click)="viewRecords('Other')" [ngClass]="activeStep == 'Other' ? 'dig-bg' : 'dig-bg-active'">Others</button>
    </div>
</div>
<!--  -->

<!-- Record list -->
<nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }">

<ng-container *ngFor="let item of previewDocuments;trackBy:trackById">
    <div class="record-list px-2" nz-row style="min-height: 78px;" nzAlign="middle">
        <div nz-col nzFlex="5">
            <span>
                <span fs="15px" fw="md" class="d-block"> Dr. {{  item.acutalDoc?.doc_first_name }} {{  item.acutalDoc?.doc_last_name }}</span>
                <span fs="12px" fw="reg" color="#b1afaf" class="d-block">{{item.date}}</span>
            </span>
        </div>
        <div nz-col nzFlex="auto" class="center-y-end-x">
            <span>
                <button class="digi-sm-btn sky-bg-ligth px-2" nz-button
                [nzSize]="'small'" (click)="previewRx(item)" >View</button>&nbsp;&nbsp;
                <button class="digi-sm-btn pink-bg-ligth px-2" (click)="orderRx(item)" nz-button
                [nzSize]="'small'">Order</button>
            </span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!loading && previewDocuments.length === 0">
    <nz-result nzStatus="404" nzTitle="No Records Found" nzSubTitle="Sorry, the page you visited does not exist.">
        <div nz-result-extra>
          <button nz-button nzType="primary">Back Home</button>
        </div>
      </nz-result>
</ng-container>
</nz-skeleton>

<!-- Record list -->

<!-- digi-affix use for fixed item -->
<digi-affix>
    <div nz-row class="action-group">
        <div nz-col nzSpan="12" class="center-y-start-x">
            <span>
                <img src="assets/icons/plus.svg" class="d-block" alt="">
                <span fs="12px" fw="reg" color="#12263C">Add new report</span>
            </span>
        </div>
        <div nz-col nzSpan="12" class="center-y-end-x">
            <span>
                <img src="assets/icons/sort.svg" class="d-block" alt="">
                <span fs="12px" fw="reg" color="#12263C">Sort</span>
            </span>
        </div>
    </div>
</digi-affix>
<!-- digi-affix use for fixed item -->
</div>