<div nz-row nzAlign="middle" style="min-height: 444px;">
    <div nz-col [nzXs]="{ span: 22, offset: 1 }"
    class="text-center">
       <img src="assets/icons/no-prescription.svg" alt="">
       <span fs="18px" fw="md" color="#12263C" class="d-block mt-3">
           No prescription yet
        </span>
        <span fs="14px" fw="reg" color="#9EAAB2" class="d-block mt-3">
            When your doctor prescribe your prescription, 
            medicines and diagnosis will appear here
         </span>
    </div>
</div>

<digi-affix>
    <button nz-button digi-btn color="theme">
        Scan My Prescription
    </button>
</digi-affix>