<div>
  <span fs="17px" fw="md" class="d-block mt-3">Your Order History</span>

  <!-- Ordered loop  -->
  <ng-container *ngFor="let item of [1, 2]">
    <span fs="13px" fw="md" color="#2795A0" class="d-block mb-3 mt-3"
      >Ordered on 25 Aug 2021, Presciption by Dr Jenny</span
    >
    <div nz-row nzAlign="middle" class="info_box px-2 py-2 my-2">
      <div nz-col nzFlex="5">
        <div nz-row>
          <div nz-col nzSpan="10">
            <div fs="14px" fw="reg">Order Date</div>
            <div fs="14px" fw="reg">Order no #</div>
            <div fs="14px" fw="reg">Total Amount</div>
          </div>
          <div nz-col nzSpan="14">
            <div fs="14px" fw="reg">25 Aug 2021</div>
            <div fs="14px" fw="reg">406 - 0215463 - 36</div>
            <div fs="14px" fw="reg">Rs. 2720</div>
          </div>
        </div>
      </div>
      <div nz-col nzFlex="1" class="center-y-end-x">
        <img src="assets/icons/back_as_changes.svg" alt="" />
      </div>
    </div>

    <div nz-row nzAlign="middle" class="info_box px-2 py-3 my-2">
      <div nz-col nzFlex="1">
        <img
          class="mx-auto d-block"
          src="assets/icons/download-invoice.svg"
          alt=""
        />
      </div>
      <div nz-col nzFlex="5">
        <span fs="14px" fw="md">Download Invoice</span>
      </div>
      <div nz-col nzFlex="1" class="center-y-end-x">
        <img src="assets/icons/back_as_changes.svg" alt="" />
      </div>
    </div>

    <div nz-row nzAlign="middle" class="info_box px-2 py-3 my-2">
      <div nz-col nzFlex="1">
        <img
          class="mx-auto d-block"
          src="assets/icons/track-order.svg"
          alt=""
        />
      </div>
      <div nz-col nzFlex="5">
        <span fs="14px" fw="md">Track order</span>
      </div>
      <div nz-col nzFlex="1" class="center-y-end-x">
        <img src="assets/icons/back_as_changes.svg" alt="" />
      </div>
    </div>

    <div nz-row nzAlign="middle" class="info_box px-2 py-3 my-2">
      <div nz-col nzFlex="1">
        <img
          class="mx-auto d-block"
          src="assets/icons/request-cancellation.svg"
          alt=""
        />
      </div>
      <div nz-col nzFlex="5">
        <span fs="14px" fw="md">Request cancellation</span>
      </div>
      <div nz-col nzFlex="1" class="center-y-end-x">
        <img src="assets/icons/back_as_changes.svg" alt="" />
      </div>
    </div>

    <div nz-row nzAlign="middle" class="info_box px-2 py-3 my-2">
      <div nz-col nzFlex="1">
        <img
          class="mx-auto d-block"
          src="assets/icons/change-time.svg"
          alt=""
        />
      </div>
      <div nz-col nzFlex="5">
        <span fs="14px" fw="md">Change time and date for services</span>
      </div>
      <div nz-col nzFlex="1" class="center-y-end-x">
        <img src="assets/icons/back_as_changes.svg" alt="" />
      </div>
    </div>
  </ng-container>
  <!-- Ordered loop  -->
  <divider [spacing]="70"></divider>
  <digi-affix>
    <button nz-button digi-btn color="theme" routerLink="../partner">
      Book Healthcare Services
    </button>
  </digi-affix>
</div>

<ng-container *ngIf="false">
  <div nz-row nzAlign="middle" style="min-height: 444px">
    <div nz-col [nzXs]="{ span: 22, offset: 1 }" class="text-center">
      <img src="assets/icons/no-prescription.svg" alt="" />
      <span fs="18px" fw="md" color="#12263C" class="d-block mt-3">
        No prescription yet
      </span>
      <span fs="14px" fw="reg" color="#9EAAB2" class="d-block mt-3">
        When your doctor prescribe your prescription, medicines and diagnosis
        will appear here
      </span>
    </div>
  </div>
</ng-container>
<div nz-row *ngIf="false">
  <div nz-col nzXs="24" class="text-center">
    <span fs="16px" fw="md" class="d-block my-3">
      Your Prescription from Dr. Jenny is ready</span
    >
    <img
      src="assets/icons/user_placeholder_2x.svg"
      class="d-block my-3"
      alt=""
    />
    <span fs="12px" fw="reg" color="#9EAAB2" class="d-block my-3">
      Prescription from
    </span>
    <span fs="18px" fw="md" class="d-block my-2"> Dr. Jenny Wilsson </span>
    <span fs="14px" fw="reg" color="#2795A0" class="d-block">
      Tue, 25 May 2021, 10:20 AM
    </span>
  </div>

  <div nz-col nzXs="24" class="text-center mt-4">
    <button nz-button digi-button-inline color="#CDECFF">
      <span fs="14px" color="#12263C">View</span></button
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <button nz-button digi-button-inline color="#FEE1DD">
      <span fs="14px" color="#12263C">Order</span>
    </button>
  </div>
</div>
