<div nz-row class="mt-3 ">
    <div nz-col [nzXs]="{ span: 4 }" *ngIf="datePicker">
        <div class="month-select-box center-xy"  >
           <p nz-dropdown [nzDropdownMenu]="menu">{{currentMonth | uppercase }} <span class="d-block">2021</span></p>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item *ngFor="let month of monthNameList">
                  {{month}}
                </li>
            </ul>
          </nz-dropdown-menu>
    </div>
    <div nz-col [nzXs]="{ span: datePicker ? 20 : 24 }">
        <div class="date-select-box cdk-virtual-scroll-data-source">
            <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="60" minBufferPx="400" maxBufferPx="1000"  class="cal-viewport" (scrolledIndexChange)="changeMonth($event)">

            <ng-container *cdkVirtualFor="let item of items;let I = index">
                <div class="date-pick center_xy" [ngClass]="{'is-active':item===selectedItem}">
                    <div class="item" (click)="select(item)" >
                        <span class="weekName proxyNovaSemi" >{{returnWeekDay(item)}}</span>
                        <span class="dateDay proxyNova" [ngClass]="{'is-white':item===selectedItem}"> {{item | date : 'd'}}</span>
                      </div>
                </div>
            </ng-container>
            </cdk-virtual-scroll-viewport>
    </div>
</div>
</div>