

<ng-container *ngIf="savedRxData">
 

<div nz-row >
  <div nz-col nzXs="24" class="text-center">

    <span fs="14px" fw="reg" color="#9EAAB2" class="d-block my-1">
      Your Prescription from
    </span>
    <span fs="16px" fw="md" class="d-block my-1"> Dr. {{savedRxData.doc_first_name}} {{savedRxData.doc_last_name}}</span>
    <span fs="14px" fw="reg" color="#2795A0" class="d-block">
     {{savedRxData.timestamp | date:'EEE, dd MMM YYYY, hh:mm:a'}} 
    </span>

    <ngx-extended-pdf-viewer 
    [src]="savedRxData.rxUrl" 
    useBrowserLocale="true" 
    height="70vh"
    [enablePinchOnMobile]="true"
    [showSidebarButton]="false"
    [mobileFriendlyZoom]="'120%'"
    [(zoom)]="page-fit"
    [showBorders]="true"
    [showBookmarkButton]="false"
    [showFindButton]="false"
    [showOpenFileButton]="false"
    [showPagingButtons]="false"
    [showPropertiesButton]="false"
    [showRotateButton]="false"
    [showScrollingButton]="true"
    [showSpreadButton]="false"

    >
    </ngx-extended-pdf-viewer>

 
  </div>

  
</div>

<digi-affix>
  <button nz-button digi-btn color="theme" routerLink="../partner">
    Book Healthcare Services
  </button>
</digi-affix>

</ng-container>