<div class="px-3">
  <span fs="16px" fw="reg" class="d-block my-3">Specialist</span>
  <digi-doctors-slider
    [swiperConfig]="OwlConfig"
    [dataArray]="doctorArray"
    [activeColor]="'#2795A0'"
    (slideNum)="slide($event)"
    [activeSilde]="num"
  ></digi-doctors-slider>

  <owl-carousel-o [options]="OwlConfig">
    <ng-container *ngFor="let item of [1, 2, 3, 4]">
      <ng-template carouselSlide>
        <digi-card>
          <div class="p-2">
            <div nz-row>
              <div nz-col nzFlex="5" class="center-y-start-x">
                <span fs="13px" fw="md" color="#12263C" class="t-t-c">
                  Wed, 4 Aug
                </span>
              </div>
              <div nz-col nzFlex="5" class="center-y-end-x">
                <span fs="13px" fw="md" color="#9EAAB2" class="t-t-c">
                  3 Slot Available
                </span>
              </div>
            </div>
            <div nz-row class="mt-3">
              <div nz-col nzXs="8" class="center-y-start-x">
                <button class="digi-sm-btn sky-bg-ligth px-2" nz-button>
                  8:00 - 10:00
                </button>
              </div>
              <div nz-col nzXs="8" class="text-center">
                <button class="digi-sm-btn sky-bg-ligth px-2" nz-button>
                  10:15 - 11:20
                </button>
              </div>
              <div nz-col nzXs="8" class="center-y-end-x">
                <button class="digi-sm-btn sky-bg-ligth px-2" nz-button>
                  11:30 - 12:30
                </button>
              </div>
            </div>
            <span
              fs="12px"
              fw="md"
              color="#2795A0"
              class="d-block text-center mt-3"
              >View all timings</span
            >
          </div>
        </digi-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

  <!-- profile data -->
  <div
    *ngFor="let heading of ['About Doctor', 'Qualifications', 'Testimonials']"
  >
    <span fs="16px" fw="md" color="#12263C" class="d-block mt-3 t-t-c">
      {{ heading }}
    </span>
    <span fs="12px" fw="reg" color="#9EAAB2" class="d-block my-3">
      Faucibus aenean urna morbi scelerisque integer. Morbi tincidunt lobortis
      sed libero semper. Volutpat porttitor magna nec id non vestibulum,
      viverra. Viverravulputate facilisi hendrerit mauris.
    </span>
  </div>
  <!-- profile data -->

  <div class="mb-5"><br /><br /><br /></div>

  <digi-affix>
    <button
      nz-button
      digi-btn
      color="theme"
      class="mb-2"
      (click)="cilnicNow()"
      [ghost]="true"
    >
      I am at the Cilnic, Consult Now
    </button>
    <button nz-button digi-btn color="theme" (click)="scheduleAppointment()">
      Book Appointment
    </button>
  </digi-affix>
</div>
