<span fs="16px" fw="md" class="d-block my-3">Select a time for delivery</span>
<!-- calendar -->
<digi-calendar></digi-calendar>
<!-- calendar -->

<!-- time slot -->
<span fs="16px" fw="reg" class="d-block mt-3">Select suitable time</span>
<digi-time-slot [duration]="null"></digi-time-slot>
<!-- time slot -->

<label for="Card" nz-row nzJustify="space-around" nzAlign="middle" class="radio-card my-2 px-2">
    <div nz-col nzFlex="5">
        <span fs="14px" fw="md" color="#12263C">Schedule a time for Clinic Visit</span>
    </div>
    <div nz-col nzFlex="1" class="center-y-end-x">
        <img class="b-block" src="assets/icons/back_as_changes.svg" alt="">
    </div>
</label>

<label for="Card" nz-row nzJustify="space-around" nzAlign="middle" class="radio-card my-2 px-2">
    <div nz-col nzFlex="5">
        <span fs="14px" fw="md" color="#12263C">Schedule a time for Home collection</span>
    </div>
    <div nz-col nzFlex="1" class="center-y-end-x">
        <img class="b-block" src="assets/icons/back_as_changes.svg" alt="">
    </div>
</label>
<!-- button -->
<digi-affix>
    <button nz-button digi-btn color="theme" routerLink="../checkOut">
        Confirm and Save
    </button>
</digi-affix>
<!-- button -->
