<div nz-row nzAlign="middle" style="min-height: 56px;background: #e8f2ed;">
    <div nz-col nzFlex="1">
        <ng-content></ng-content>
    </div>
    <div nz-col nzFlex="5">
        <span fs="16px" fw="md" class="t-t-c">Order Confirmed</span>
    </div>
</div>

<div nz-row nzJustify="center" nzAlign="middle" 
style="min-height: 60vh;">
    <div nz-col nzXs="22">
        <span fs="25px" fw="md" class="d-block text-center my-4">Thank you!</span>
        <img src="assets/images/thanks.svg" class="d-block img-res my-4" alt="">
        <span fs="14px" fw="md" class="d-block text-center my-4">
            We sent you a confirmation to your mobile number
        </span>
        <span fs="14px" fw="md" class="d-block text-center">
            You will get a notification when our health partner and lab partner confirm it.
        </span>
    </div>
</div>



<digi-affix>
    <button nz-button digi-btn color="theme" routerLink="/">
        Go To Home
    </button>
</digi-affix>