<span fs="12px" fw="reg" class="d-block mt-2">{{duration}}&nbsp;&nbsp;
    <nz-tag fs="11px" fw="reg" color="#2EBCA6" [nzColor]="'#CAF7F4'">
        {{slots.length}} slots
    </nz-tag>
</span>

<div nz-row [nzGutter]="[16,16]" class="my-2">
    <ng-container *ngFor="let item of slots;let i=index">
        <div nz-col nzXs="6">
            <button fs="12px" fw="md" (click)="slot(i)"
            [ngClass]="isActive==i?'time-slots active-slots':'time-slots'">
            8:00 AM
           </button>
            <!-- active class: active-slots -->
        </div>
    </ng-container>
</div>
