<div class="px-3">
  <div class="my-2">
    <digi-doctors-slider
      [swiperConfig]="scrollConfig(breakpoint1)"
      [dataArray]="doctorArray"
      [activeColor]="'#2795A0'"
      (slideNum)="slide($event)"
      [activeSilde]="num"
    ></digi-doctors-slider>
  </div>

  <div nz-row nzAlign="middle" class="info_box px-2 my-2">
    <div nz-col nzFlex="5">
      <span fs="14px" fw="reg">Name of the patient</span>
    </div>
    <div nz-col nzFlex="1" class="center-y-end-x">
      <img
        class="b-block"
        src="assets/icons/back_as_changes.svg"
        (click)="open = true"
        alt=""
      />
    </div>
  </div>

  <div nz-row nzAlign="middle" class="info_box px-2 my-2">
    <div nz-col nzFlex="5">
      <span fs="14px" fw="reg">
        General Consultation &nbsp;&nbsp;&nbsp;Rs. 350
      </span>
    </div>
    <div nz-col nzFlex="1" class="center-y-end-x">
      <img class="b-block" src="assets/icons/back_as_changes.svg" alt="" />
    </div>
  </div>

  <div class="my-3">
    <button nz-button digi-button-inline color="#2795A0">Online Visit</button
    >&nbsp;
    <button nz-button digi-button-inline color="#EEEEEE">
      <span fs="13px" color="#12263C">Clinic Visit</span>
    </button>
  </div>
  <digi-calendar (selected)="month = $event"></digi-calendar>
  <div class="my-3" nz-row>
    <div nz-col nzFlex="5">
      <span fs="16px" fw="reg" class="d-block"> Wilsson Clinic Center</span>
      <span fs="13px" fw="reg" class="d-block"> Sr Lane, Mumbai</span>
    </div>
    <div nz-col nzFlex="2" class="center-y-end-x">
      <a href="">Change Clinic</a>
    </div>
  </div>
  <nz-divider></nz-divider>
  <!-- Pick a time slot -->
  <span fs="16px" fw="reg" class="d-block my-3">Pick a time slot</span>
  <!-- <digi-calendar></digi-calendar> -->
  <owl-carousel-o [options]="scrollConfig(breakpoint2)">
    <ng-container *ngFor="let slot of slots; let i = index">
      <ng-template carouselSlide>
        <div class="ml-2 mb-3">
          <button
            nz-button
            digi-btn
            color="#2795A0"
            [ghost]="i !== isActive"
            (click)="selectSlot(i)"
          >
            <span
              fs="13px"
              fw="reg"
              class="d-block"
              [color]="i == isActive ? 'white' : '#2795A0'"
            >
              <span class="d-block t-t-c">{{ slot.time }}</span>
              <span class="d-block t-t-c">{{ slot.slot }} Slots</span>
            </span>
          </button>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <!-- Pick a time slot -->

  <!-- Morning :time slot -->
  <digi-time-slot duration="Morning" [slots]="[1, 2, 3, 4, 5, 6, 7, 8]">
  </digi-time-slot>

  <!-- Afternoon :time slot -->
  <digi-time-slot
    duration="Afternoon"
    [slots]="[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
  >
  </digi-time-slot>

  <div class="mb-5"><br /><br /><br /></div>

  <!-- button -->
  <digi-affix>
    <button nz-button digi-btn color="theme" routerLink="../overview">
      Book Appointment
    </button>
  </digi-affix>
  <!-- button -->
</div>

<digi-bottom-sheet
  [isOpen]="open"
  (toggle)="open = $event"
  title="Name of the patient"
  height="100vh"
>
  <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13]">
    <digi-patient-list-item [dataArray]="item">
      <span (click)="open = false"> action</span>
    </digi-patient-list-item>
  </ng-container>
  <div class="mb-5">
    <br /><br />
  </div>
  <!-- button -->
  <digi-affix [toBottom]="'1%'">
    <button nz-button digi-btn color="theme" (click)="open = false">
      select patient
    </button>
  </digi-affix>
  <!-- button -->
</digi-bottom-sheet>
