<div nz-row class="px-3">

    <div nz-col nzSpan="24" class="center-xy" style="min-height: 254px;">
      <img src="assets/images/otp_bg.svg" class="mx-auto d-block witdh-60" alt="">
    </div>

    <div nz-col nzSpan="24" class="center-xy" style="min-height: 70px;">
        <ng-otp-input (onInputChange)="onOtpChange($event)"  
        [config]="OptConfig"></ng-otp-input>
    </div>

    <div nz-col nzSpan="24" class="center-xy"  style="min-height: 70px;">
      <span fs="14px" fw="md" class="d-block text-center">You’re receiving a text on the number you just
        entered with a verification code</span>
    </div>

    <div nz-col nzSpan="24" class="mt-3">
      <button nz-button digi-btn color="theme" 
        (click)="verify()">Verify</button>
        <a href="" fs="16px" fw="md" class="d-block text-center my-2">Resend Code</a>
    </div>

  </div>
  
